[Desktop Entry]
Version=1.0
Type=Application
Name=Krafta Editor
Comment=A fast, lightweight, and cross-platform code editor built with C++ and wxWidgets.
Exec=kraftaEditor %F
Icon=kraftaEditor
Categories=Development;TextEditor;IDE;
Terminal=false
StartupNotify=true
MimeType=text/plain;text/x-c++;text/x-chdr;text/x-csrc;